<div class="container-fluid">
  <h2 class="text-center">ORDER SERVICE</h2>

  <div class="row mt-3 justify-content-center">
    <div class="col-3 text-center">
      <div *ngIf="success" class="alert alert-success box-msg " role="alert">
        <strong>Đặt hàng thành công ✓</strong>
      </div>
    </div>
  </div>

  <form class="w-75 mx-auto mt-4" [formGroup]="orderServiceCreateForm" (ngSubmit)="order()">
    <div class="row">
      <div class="col-12 d-inline-flex justify-content-center">
        <div class="col-lg-3 ">
          <strong class="mr-lg-2">Tên dịch vụ:</strong><span>&nbsp;&nbsp;</span>
          <mat-form-field>
            <mat-label>Choose service</mat-label>
            <mat-select formControlName="service" (selectionChange)="changeOrder($event)">
              <mat-option *ngFor="let service of services" [value]="service.serviceId">
                {{service.serviceName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-lg-3 ">
          <label class="mr-lg-2">Đơn vị:</label><span>&nbsp;&nbsp;</span>
          <input type="text" class="form-control mr-4 w-75" readonly formControlName="unit">
        </div>
        <div class="col-lg-3 ">
          <strong class="mr-lg-2">Số lượng:</strong><span>&nbsp;&nbsp;</span>
          <div>
            <input type="number" class="form-control mr-4 w-75" formControlName="quantity" ngModel="1">
            <div class="alert alert-danger w-75" *ngIf="orderServiceCreateForm.get('quantity')?.invalid && orderServiceCreateForm.get('quantity')?.dirty ">Số lượng phải lớn hơn 0.</div>
            <div class="alert alert-danger col-12 mt-2" *ngIf="orderServiceCreateForm.get('quantity')?.invalid && orderServiceCreateForm.get('quantity')?.touched &&
             orderServiceCreateForm.get('quantity').hasError('invalidQuantity')">Số lượng không đủ.
            </div>
          </div>
        </div>
        <div class="col-lg-3 ">
          <strong class="mr-lg-2">Giá:</strong><span>&nbsp;&nbsp;</span>
          <input type="text" class="form-control mr-4 w-75"  readonly [value]="prices">
        </div>
      </div>
    </div>
    <div class="row mt-3 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" style="width: max-content" [disabled]="orderServiceCreateForm.invalid">Order</button>
    </div>
  </form>
  <app-order-service-detail [orderServices]="orderServices" ></app-order-service-detail>

  <form [formGroup]="orderServiceCreateForm" (ngSubmit)="finish()">
    <div class="row d-flex justify-content-center">
      <button class="btn btn-success" style="width: max-content" type="submit" [disabled]="orderServiceCreateForm.invalid">Kết thúc</button>
    </div>
  </form>
</div>
