<div>
  <div class="container mb-5 mt-5">
    <div class="card row" style="border-color: white">
      <div class="alert" role="alert" style="background: white; text-align: center">
        <h1>Thông tin tài khoản</h1>
      </div>
      <form [formGroup]="form" >
        <div class="row mt-3">
          <input type="hidden" readonly formControlName="customerId">
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="row">
              <div class="col-10 m-auto">
                <label for="name"><strong>Họ tên:</strong><span class="text-danger">* &nbsp;&nbsp;</span></label>

                <span #fullNameDisplay >{{customer.fullName}}</span>
                <mat-form-field *ngIf="fullNameDisplay.hidden" [style.width.px]=350>
                  <input matInput id="name" formControlName="fullName" [hidden]="!fullNameDisplay.hidden" (blur)="fullNameDisplay.hidden=false;" minlength="3" maxlength="50" width="100%" autofocus #editFullName>
                  <mat-hint align="end">{{editFullName.value.length}} / 128</mat-hint>
                </mat-form-field>

                <div class="alert alert-danger col-12 mt-1" *ngIf="form.get('name')?.invalid && form.get('name')?.touched && form.get('name')?.errors?.required">Họ tên không được để trống</div>
                <div class="alert alert-danger col-12 mt-1" *ngIf="form.get('name')?.invalid && form.get('name')?.dirty && form.get('name')?.errors?.pattern">Họ tên không đúng quy định</div>
              </div>
              <div class="col-2 m-auto">
                <button mat-icon-button (click)="submit(); fullNameDisplay.hidden = false;" *ngIf="fullNameDisplay.hidden"><mat-icon>check_circle</mat-icon></button>
                <button mat-icon-button (click)="fullNameDisplay.hidden = true;" *ngIf="!fullNameDisplay.hidden"><mat-icon>edit</mat-icon></button>
              </div>
            </div>


          </div>
          <div class="col-6 m-auto">
            <label ><strong>Username:</strong><span class="text-danger">&nbsp;&nbsp;</span></label>
            <a>{{customer.username}}</a>
            <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('username')?.invalid && form.get('username')?.touched &&
             form.get('username')?.errors?.required">Username không được để trống</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="row">
              <div class="col-10 m-auto">
                <label for="email"><strong>Email:</strong><span class="text-danger">*&nbsp;&nbsp;</span></label>

                <span #emailDisplay >{{customer.email}}</span>
                <mat-form-field *ngIf="emailDisplay.hidden" [style.width.px]=350>
                  <input matInput id="email" formControlName="email" [hidden]="!emailDisplay.hidden" (blur)="emailDisplay.hidden=false;" minlength="3" maxlength="50" width="100%" autofocus #editEmail>
                  <mat-hint align="end">{{editEmail.value.length}} / 128</mat-hint>
                </mat-form-field>

                <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('email')?.invalid && form.get('email')?.touched && form.get('email')?.errors?.required">Email không được để trống
                </div>
                <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('name')?.invalid && form.get('email')?.dirty && form.get('email')?.errors?.pattern">Email không đúng quy định
                </div>
              </div>
              <div class="col-2 m-auto">
                <button mat-icon-button (mousedown)="submit(); emailDisplay.hidden = false;" *ngIf="emailDisplay.hidden"><mat-icon>check_circle</mat-icon></button>
                <button mat-icon-button (click)="emailDisplay.hidden = true;" *ngIf="!emailDisplay.hidden"><mat-icon>edit</mat-icon></button>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-10 m-auto">
                <label for="dateOfBirth"><strong>Ngày Sinh:</strong></label><span class="text-danger"> * &nbsp;&nbsp;</span>

                <span #dateOfBirthDisplay >{{customer.dateOfBirth}}</span>
                <mat-form-field *ngIf="dateOfBirthDisplay.hidden">
                  <input matInput type="date" id="dateOfBirth" formControlName="dateOfBirth" [hidden]="!dateOfBirthDisplay.hidden" (blur)="dateOfBirthDisplay.hidden=false;" minlength="3" maxlength="50" autofocus #editDateOfBirth>
                  <mat-hint align="end">{{editDateOfBirth.value.length}} / 128</mat-hint>
                </mat-form-field>

                <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('dateOfBirth')?.invalid && form.get('dateOfBirth')?.touched &&form.get('dateOfBirth')?.errors?.required">Ngày sinh không được để trống
                </div>
                <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('dateOfBirth')?.invalid && form.get('dateOfBirth')?.touched &&form.get('dateOfBirth').hasError('invalidAge')">Tối thiểu 16 tuổi
                </div>
              </div>
              <div class="col-2 m-auto">
                <button mat-icon-button (click)="submit(); dateOfBirthDisplay.hidden = false;" *ngIf="dateOfBirthDisplay.hidden"><mat-icon>check_circle</mat-icon></button>
                <button mat-icon-button (click)="dateOfBirthDisplay.hidden = true;" *ngIf="!dateOfBirthDisplay.hidden"><mat-icon>edit</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-2">
            <label class="fontFamily"><strong>Địa chỉ:</strong></label><span style="color: red"> *</span>
          </div>
          <div class="col-9">
            <span #addressDisplay >{{customer.province}}, {{customer.district}}, {{customer.commune}}</span>
            <div class="row" [hidden]="!addressDisplay.hidden" (blur)="addressDisplay.hidden=false;">
              <div class="col-12 d-inline-flex">
                <div class="col-4">
                  <select class="form-control" formControlName="province" id="province"
                          #province (change)="getAllDistrict(province.value)">
                    <option hidden [value]="">Thành phố/Tỉnh</option>
                    <option *ngFor="let p of provinces" [value]="p.province_name+'&'+p.province_id" >{{p.province_name}}</option>
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-control" formControlName="district" id="district"
                          #district (change)="getAllWard(district.value)" >
                    <option hidden [value]="">Quận/Huyện</option>
                    <option *ngFor="let d of districts" [value]="d.district_name+'&'+d.district_id" >{{d.district_name}}</option>
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-control" formControlName="commune" id="commune">
                    <option hidden [value]="">Phường/Xã</option>
                    <option *ngFor="let c of communes" [value]="c.ward_name + '&' + c.ward_id">{{c.ward_name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <button mat-icon-button (mousedown)="submit(); addressDisplay.hidden = false;" *ngIf="addressDisplay.hidden"><mat-icon>check_circle</mat-icon></button>
            <button mat-icon-button (click)="addressDisplay.hidden = true;" *ngIf="!addressDisplay.hidden"><mat-icon>edit</mat-icon></button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="row">
              <div class="col-10 m-auto">
                <label for="phone"><strong>Số điện thoại</strong></label><span class="text-danger"> * &nbsp;&nbsp;</span>

                <span #phoneDisplay >{{customer.phone}}</span>
                <mat-form-field *ngIf="phoneDisplay.hidden">
                  <input matInput id="phone" formControlName="phone" [hidden]="!phoneDisplay.hidden" (blur)="phoneDisplay.hidden=false;" minlength="3" maxlength="50" autofocus #editPhone>
                  <mat-hint align="end">{{editPhone.value.length}} / 128</mat-hint>
                </mat-form-field>

                <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched &&form.get('phone')?.errors?.required">SĐT không được để trống
                </div>
                <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('phone')?.invalid && form.get('phone')?.dirty &&form.get('phone')?.errors?.pattern">SĐT phải có 10-12 số
                </div>
              </div>
              <div class="col-2 m-auto">
                <button mat-icon-button (mousedown)="submit(); phoneDisplay.hidden = false;" *ngIf="phoneDisplay.hidden"><mat-icon>check_circle</mat-icon></button>
                <button mat-icon-button (click)="phoneDisplay.hidden = true;" *ngIf="!phoneDisplay.hidden"><mat-icon>edit</mat-icon></button>
              </div>
            </div>
          </div>
          <div class="col-6">
          </div>
        </div>
        <div class="row mt-3" [hidden]="!passwordDisplay.hidden" (blur)="passwordDisplay.hidden=false;">
          <div class="col-5">
            <label for="password"><strong>Mật khẩu</strong></label><span class="text-danger"> *</span>

            <mat-form-field >
              <input matInput type="password" id="password" formControlName="password" minlength="3" maxlength="50" autofocus #editPass>
              <mat-hint align="end">{{editPass.value.length}} / 128</mat-hint>
            </mat-form-field>

<!--            <input type="password" class="form-control" id="password" formControlName="password" >-->

            <div class="alert alert-danger col-12 mt-2" *ngIf=" form.get('password').touched && form.get('password').hasError('required')">Password không được để trống
            </div>
            <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('password').touched && form.get('password').hasError('pattern')">Password cần chứa 8-20 kí tự, tối thiểu 1 chữ viết hoa và 1 kí tự đặc biệt </div>
          </div>
          <div class="col-5">
            <label for="passwordRetype"><strong>Nhập lại mật khẩu</strong></label><span class="text-danger"> *</span>

            <mat-form-field >
              <input matInput type="password" id="passwordRetype" formControlName="passwordRetype" minlength="3" maxlength="50" autofocus #editPassRe>
              <mat-hint align="end">{{editPassRe.value.length}} / 128</mat-hint>
            </mat-form-field>

<!--            <input type="password" class="form-control" id="passwordRetype" formControlName="passwordRetype" >-->

            <div class="alert alert-danger col-12 mt-2" *ngIf="form.get('passwordRetype').touched && form.get('passwordRetype').hasError('required')">Please retype password
            </div>
            <div class="alert alert-danger col-12 mt-2"
                 *ngIf="form.errors?.invalidPassword && form.get('passwordRetype').touched ">Password retype mismatch
            </div>
          </div>
          <div class="col-2">
            <button mat-icon-button (click)="submit(); passwordDisplay.hidden = false;" *ngIf="passwordDisplay.hidden"><mat-icon>check_circle</mat-icon></button>
          </div>
        </div>

        <div class="row mt-3" #passwordDisplay>
          <div class="col-5 m-auto">
            <label ><strong>Mật khẩu:</strong><span class="text-danger">* &nbsp;&nbsp;</span></label>
            <a>••••••••••••</a>
          </div>
          <div class="col-7 m-auto">
            <button mat-icon-button (click)="passwordDisplay.hidden = true;" *ngIf="!passwordDisplay.hidden"><mat-icon>edit</mat-icon></button>
          </div>
        </div>

        <div class="mb-5"></div>

      </form>
    </div>
  </div>
</div>

