<nav class="navbar navbar-light bg-secondary">
  <span class="navbar-brand mb-0 h1 font-weight-bold">Home</span>
</nav>
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-3 border-right">
      <div class="d-flex flex-column pt-5 ml-2">
        <div class="pt-3 pb-3 mt-5 mt-auto mb-auto ">
          <a href="" class="item-link">Quản lý Nhân viên</a>
        </div>
        <div class="pt-3 pb-3 mt-auto mb-auto">
          <a href="" class="item-link">Quản lý khách hàng</a>
        </div>
        <div class="pt-3 pb-3 mt-auto mb-auto">
          <a href="" class="item-link">Quản lý máy</a>
        </div>
        <div class="pt-3 pb-3 mt-auto mb-auto">
          <a href="" class="item-link">Quản lý dịch vụ</a>
        </div>
        <div class="pt-3 pb-3 mt-auto mb-auto">
          <a href="" class="item-link">Quản lý yêu cầu dịch vụ</a>
        </div>
        <div class="pt-3 pb-3 mt-auto mb-auto">
          <a href="" class="item-link">Quản lý thanh toán</a>
        </div>
        <div class="pt-3 pb-3 mt-auto mb-auto">
          <a href="" class="item-link">Quản lý thống kê</a>
        </div>
      </div>
    </div>
    <div class="col-5 pt-5">
      <div class="row mt-5 justify-content-center">
        <table>
          <tr>
            <th>Họ và tên:</th>
            <td>Nguyễn Văn A</td>
          </tr>
          <tr>
            <th>Ngày tháng năm sinh:</th>
            <td>01/01/2020</td>
          </tr>
          <tr>
            <th>Địa chỉ:</th>
            <td>Xóm ngụ cư</td>
          </tr>
          <tr>
            <th>Level:</th>
            <td>01</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>01</td>
          </tr>
          <tr>
            <th>Số điện thoại:</th>
            <td>01</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-3 pt-5">
      <img src="/assets/avata_image.jpg" alt="" style="width: 100%" class="mt-5">
    </div>
    <div class="col">

    </div>
  </div>
</div>
