<H2 class="text-center">loop form <i class="fab fa-viber"></i></H2>

<section class="bg-light my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <div class="card">
          <div class="card-header">Service</div>
          <div class="card-body">
            <table class="table table-striped table-responsive d-md-table w-100">
              <thead>
              <tr>
                <th>stt</th>
                <th>service Id</th>
                <th>service name</th>
                <th>quantity</th>
                <th>unit</th>
                <th>prices</th>
                <th>action</th>
              </tr>
              </thead>
              <!-- for case default -->
              <tbody *ngIf="btnAddHidden == btnEditHidden">
              <tr *ngFor="let service of serviceArr, index as i"
                  [id]="service.serviceId"
                  [style]="i % 2 == 0 ? 'background-color: rgba(0, 0, 0, 0.05)' : 'background-color: white'">
                <ng-container *ngIf="serviceArrCheck[i] == service">
                  <td>{{i+1}}</td>
                  <td>
                    {{service.serviceId}}
                  </td>
                  <td>
                    {{service.serviceName}}
                  </td>
                  <td>
                    {{service.quantity}}
                  </td>
                  <td>
                    {{service.unit}}
                  </td>
                  <td>
                    {{service.prices}}
                  </td>
                  <td>
                    <button class="btn btn-warning btn-sm" (click)="btnEditService(i)">
                      edit
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="serviceArrCheck[i] != service" [formGroup]="formGroupForUpdate[i]">
                  <td>{{i+1}}</td>
                  <td>
                    {{service.serviceId}}
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="serviceName">
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="quantity">
                  </td>
                  <td>
                    <select class="form-control" formControlName="unit">
                      <option value="cái">cái</option>
                      <option value="tô">tô</option>
                      <option value="xxx">xxx</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="prices">
                  </td>
                  <td>
                    <button class="btn btn-sm btn-secondary" (click)="cancelEditService(i)">
                      cancel
                    </button>
                  </td>
                </ng-container>
              </tr>
              <tr *ngFor="let formGroupX of formGroupForAdd, index as i" [formGroup]="formGroupX" [id]="i">
                <td></td>
                <td>
                  <input class="form-control" type="text" formControlName="serviceId">
                </td>
                <td>
                  <input class="form-control" type="text" formControlName="serviceName">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="quantity">
                </td>
                <td>
                  <select class="form-control" formControlName="unit">
                    <option value="cái">cái</option>
                    <option value="tô">tô</option>
                    <option value="xxx">xxx</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="prices">
                </td>
                <td>
                  <button class="btn btn-sm btn-secondary"
                          (click)="cancelAddService($event.target)">
                    cancel
                  </button>
                </td>
              </tr>
              </tbody>

              <!-- for case edit -->
              <tbody *ngIf="!btnEditHidden">
              <tr *ngFor="let service of serviceArr, index as i"
                  [id]="service.serviceId"
                  [style]="i % 2 == 0 ? 'background-color: rgba(0, 0, 0, 0.05)' : 'background-color: white'">
                <ng-container *ngIf="serviceArrCheck[i] == service">
                  <td>{{i+1}}</td>
                  <td>
                    {{service.serviceId}}
                  </td>
                  <td>
                    {{service.serviceName}}
                  </td>
                  <td>
                    {{service.quantity}}
                  </td>
                  <td>
                    {{service.unit}}
                  </td>
                  <td>
                    {{service.prices}}
                  </td>
                  <td>
                    <button class="btn btn-warning btn-sm" (click)="btnEditService(i)">
                      edit
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="serviceArrCheck[i] != service" [formGroup]="formGroupForUpdate[i]">
                  <td>{{i+1}}</td>
                  <td>
                    {{ service.serviceId }}
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="serviceName">
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="quantity">
                  </td>
                  <td>
                    <select class="form-control" formControlName="unit">
                      <option value="cái">cái</option>
                      <option value="tô">tô</option>
                      <option value="xxx">xxx</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="prices">
                  </td>
                  <td>
                    <button class="btn btn-sm btn-secondary" (click)="cancelEditService(i)">
                      cancel
                    </button>
                  </td>
                </ng-container>
              </tr>
              <tr *ngFor="let formGroupX of formGroupForAdd, index as i" [formGroup]="formGroupX" [id]="i">
                <td></td>
                <td>
                  <input class="form-control" type="text" formControlName="serviceId">
                </td>
                <td>
                  <input class="form-control" type="text" formControlName="serviceName">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="quantity">
                </td>
                <td>
                  <select class="form-control" formControlName="unit">
                    <option value="cái">cái</option>
                    <option value="tô">tô</option>
                    <option value="xxx">xxx</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="prices">
                </td>
                <td>
                  <button class="btn btn-sm btn-secondary"
                          (click)="cancelAddService($event.target)">
                    cancel
                  </button>
                </td>
              </tr>
              </tbody>

              <!-- for case add -->
              <tbody *ngIf="!btnAddHidden">
              <tr *ngFor="let service of serviceArr, index as i"
                  [id]="service.serviceId"
                  [style]="i % 2 == 0 ? 'background-color: rgba(0, 0, 0, 0.05)' : 'background-color: white'">
                <td>{{i+1}}</td>
                <td>
                  {{service.serviceId}}
                </td>
                <td>
                  {{service.serviceName}}
                </td>
                <td>
                  {{service.quantity}}
                </td>
                <td>
                  {{service.unit}}
                </td>
                <td>
                  {{service.prices}}
                </td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="btnEditService(i)">
                    edit
                  </button>
                </td>
              </tr>
              <tr *ngFor="let formGroupX of formGroupForAdd, index as i" [formGroup]="formGroupX" [id]="i">
                <td></td>
                <td>
                  <input class="form-control" type="text" formControlName="serviceId">
                  <small class="text-danger" *ngIf="formGroupX.get('serviceId')?.invalid && formGroupX.get('serviceId')?.touched">
                    error!
                  </small>
                </td>
                <td>
                  <input class="form-control" type="text" formControlName="serviceName">
                  <small class="text-danger" *ngIf="formGroupX.get('serviceName')?.invalid && formGroupX.get('serviceName')?.touched">
                    error!
                  </small>
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="quantity">
                </td>
                <td>
                  <select class="form-control" formControlName="unit">
                    <option value="cái">cái</option>
                    <option value="tô">tô</option>
                    <option value="xxx">xxx</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="prices">
                </td>
                <td>
                  <button class="btn btn-sm btn-secondary" (click)="cancelAddService($event.target)">
                    cancel
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <button id="alohaAddService" class="btn btn-primary float-left" (click)="btnAddService()">
              <i class="fa fa-plus"></i> add service
            </button>

            <button class="btn btn-success float-right"
                    [hidden]="!btnAddHidden || !btnEditHidden">
              <i class="fa fa-plus"></i> Save
            </button>
            <button class="btn btn-success float-right"
                    [disabled]="confirmHaveErr"
                    [hidden]="btnAddHidden"
                    (click)="submitAddService()">
              <i class="fa fa-plus"></i> Save Add
            </button>
            <button class="btn btn-success float-right"
                    [disabled]="confirmHaveErr"
                    [hidden]="btnEditHidden"
                    (click)="submitEditService()">
              <i class="fa fa-plus"></i> Save Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

