#table-wrapper {
  position:relative;
}
#table-scroll {
  height:200px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}

#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:7;
  height:20px;
  width:35%;
  border:1px solid red;
}
