<form class="w-75 mx-auto mt-4">
  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center">Tên dịch vụ</th>
          <th class="text-center">Số lượng</th>
          <th class="text-center">Đơn vị</th>
          <th class="text-center">Tổng tiền (VND)</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr *ngFor="let orderService of orderServices">-->
<!--          <td>{{orderService.service.serviceName}}</td>-->
<!--          <td class="d-flex justify-content-end">{{orderService.quantity}}</td>-->
<!--          <td>{{orderService.unit}}</td>-->
<!--          <td class="d-flex justify-content-end">{{orderService.totalMoney}}</td>-->
<!--        </tr>-->
          <tr *ngFor="let orderService of orderServices">
            <td>{{orderService.service.serviceName}}</td>
            <td class="d-flex justify-content-end">{{orderService.quantity}}</td>
            <td>{{orderService.unit}}</td>
            <td class="d-flex justify-content-end">{{orderService.totalMoney}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
