<h1 class="container mt-5 text-center" style="color: darkblue">DANH SÁCH DỊCH VỤ</h1>
<div class="container mt-3 d-flex justify-content-end">
  <form method="get">
    <input type="text" class="btn btn-outline-success"
           placeholder="Tìm kiếm" name="searchName" [(ngModel)]="term"/>
    <button class="btn btn-success rounded-circle ml-4" type="submit" (click)="search()">
      <i class="fas fa-search-plus"></i>
    </button>
  </form>
</div>
<div class="container">
  <button class="fas fa-plus-circle btn btn-success">
    <i class="fas fa-plus-circle mr-2"></i>Thêm mới dịch vụ
  </button>
  <!--  <div>-->
  <!--    <div class="alert alert-info" *ngIf="statusDelete" role="alert">-->
  <!--      Đã xóa thành công.-->
  <!--    </div>-->
  <!--  </div>-->
  <table class="table table-striped table-hover container mt-3" id="tableService">
    <thead style="background-color: #96ee4d">
    <tr>
      <th>STT</th>
      <th>Mã dịch vụ</th>
      <th>Tên dịch vụ</th>
      <th>Số lượng</th>
      <th>Đơn vị</th>
      <th>Giá (VNĐ)</th>
      <th>Lựa chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of listService |filter:term
    , index as i ">
      <td>{{i + 1}}</td>
      <td class="text-left">{{service.serviceId}}</td>
      <td class="text-left">{{service.serviceName}}</td>
      <td>{{service.quantity}}</td>
      <td class="text-left">{{service.unit}}</td>
      <td>{{service.prices}}</td>
      <td>
        <button class=" mr-2 border-0 btn btn-info"><i class="fas fa-pencil-alt"></i></button>
        <button type="button" class="fas fa-trash-alt border-0 btn btn-danger"
                (click)="openDialog(service.serviceId)">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end container">
  <button class="mr-3 btn btn-warning">Lưu Thay Đổi</button>
</div>
<!--- Phân Trang--->
<nav aria-label="..." class="d-flex justify-content-end mt-3 mr-5">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="getPage(0)">Đầu</a>
    </li>
    <li class="page-item" >
      <a class="page-link" tabindex="-1" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">Trước</a>
    </li>
    <li class="page-item"><a class="page-link" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">{{indexPagination - 1}}</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link"(click)="getPage((indexPagination-1))">{{indexPagination}}</a>
    </li>
    <li class="page-item"><a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">{{indexPagination + 1}}</a></li>
    <li class="page-item">
      <a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">Sau</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="getPage((totalPagination-1))">Cuối</a>
    </li>
  </ul>
</nav>

