<h1 class="container mt-5 text-center" style="color: darkblue">DANH SÁCH DỊCH VỤ</h1>
<div class="container mt-3 d-flex justify-content-end">
  <form method="get">
    <input type="text" class="btn btn-outline-success"
           placeholder="Tìm kiếm" name="searchName" [(ngModel)]="term"/>
    <button class="btn btn-success rounded-circle ml-4" type="submit" >
      <i class="fas fa-search-plus"></i>
    </button>
  </form>
</div>
<div class="container">
  <button class="fas fa-plus-circle btn btn-success"  [routerLink]="['/service-create']">
    <i class="fas fa-plus-circle mr-2"></i>Thêm mới dịch vụ</button>
  <table class="table table-striped table-hover container mt-3" id="tableService">
    <thead style="background-color: #96ee4d">
    <tr>
      <th>STT</th>
      <th>Mã dịch vụ</th>
      <th>Tên dịch vụ</th>
      <th>Số lượng</th>
      <th>Đơn vị</th>
      <th>Giá</th>
      <th>Lựa chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of listService">
      <td>{{service.id}}</td>
      <td>{{service.serviceId}}</td>
      <td>{{service.serviceName}}</td>
      <td>{{service.quantity}}</td>
      <td>{{service.unit}}</td>
      <td>{{service.price}}</td>
      <td>
        <button class=" mr-2 border-0 btn btn-info"><i class="fas fa-pencil-alt"></i></button>
        <button type="button" class="fas fa-trash-alt border-0 btn btn-danger"
                (click)="openDialog(service.serviceId)">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end container">
  <button class="mr-3 btn btn-warning">Lưu Thay Đổi</button>
</div>
<div class="container d-flex justify-content-end mt-3">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
  </ul>
</div>
